
  .searchTerm {
    width: 76%;
    border: 2px solid rgb(230, 105, 22);
    padding: 5px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    outline: none;
    color: rgb(230, 105, 22);
  }
  .search{
    margin-top: 1%;
    margin-left: 4.2%;
  }
  